.footer {
    background: linear-gradient(#2c0140, #450066);
    font-family: Arial, sans-serif;
    position: relative;
    text-align: center;
}

.footer-wave {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.footer-wave svg {
    display: block;
    width: 100%;
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 20px;
}

.footer-content .par {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    letter-spacing: 1.2px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 750px) {
    .footer-content .par {
        font-size: 15px;
    }
}

.footer-section {
    flex: 1 1 220px;
    margin: 10px 20px;
    padding: 20px;
    background-color: #f0e5ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #024731;
    text-decoration: none;
    transition: color 0.3s, padding-left 0.3s;
    padding-left: 5px;
}

.footer-section ul li a:hover {
    color: #017d4f;
    text-decoration: underline;
    padding-left: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    background: #f0e5ff;
    font-family: "Rubik", sans-serif;
}

.footer-bottom p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
}

.footer-bottom a {
    text-decoration: none;
    font-weight: bold;
    color: #6a0dad;
    transition: color 0.3s, text-shadow 0.3s;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
}

.footer-bottom a:hover {
    color: #9b3d8f;
    text-decoration: underline;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.social-item {
    display: flex;
    width: 400px;
    height: 80px;
    align-items: center;
    margin: 10px 0;
    background-color: #671090;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 15px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.social-item:hover {
    transform: scale(1.065);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.social-media img {
    width: 50px;
    height: 50px;
    border-radius: 0;
    object-fit: cover;
}

html[dir="rtl"] .social-media img {
    margin-right: 10px;
}

html[dir="ltr"] .social-media img {
    margin-left: 10px;
    margin-right: 10px;
}

.social-item .social-text {
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    color: #FFFFFF;
    line-height: 1.2;
    margin-right: 10px;
}

.join-us {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.join-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #671090;
    border: 2px solid #671090;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.join-button:hover {
    background-color: #f0e5ff;
    color: #671090;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.join-button:active {
    background-color: #E0E0E0;
    color: #9F149F;
    transform: translateY(-1px);
}

#contactUsContainer {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    width: 400px;
    height: 200px;
    margin: 50px auto;
    color: #333;
    border-radius: 10px;
}
#contactUsContainer h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

#contactUsContainer h2 {
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

#contactUsContainer p {
    margin: 5px 0;
    font-size: 18px;
}

#contactUsContainer p:first-of-type {
    margin-top: 15px;
    font-weight: bold;
}

#contactUsContainer p a {
    text-decoration: none;
    color: #333;
}

#contactUsContainer p a:hover {
    text-decoration: underline;
}