@media (hover: none) and (pointer: coarse) {
    .social-item:hover {
        transform: none;
        border-color: initial;
        box-shadow: none;
    }
}

@media (max-width: 1280px) {
    .main_logo {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

@media (max-width: 1280px) {
    .content_comment::after {
        display: none;
    }
    .content_comment::before {
        display: none;
    }
}

@media (max-width: 1280px) {
    .content h1::before {
        top: -20px;
    }
}

@media (max-width: 1280px) {
    .sign-up-form {
        width: 80%;
        max-height: 85vh;
        overflow: hidden;
        top: 54%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-sizing: border-box;
    }

    .input-box, textarea, .button {
        font-size: 16px;
        padding: 8px;
        margin: 6px 0;
    }

    .button {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    html[dir="rtl"] .events-title {
        font-size: 36px;
        padding-top: 0;
        margin-top: 65px;
        text-align: center;
    }
    html[dir="ltr"] .events-title {
        font-size: 36px;
        padding-top: 0;
        margin-top: 0px;
        text-align: center;
    }
}


@media (max-width: 1280px) {
    .content_comment {
        margin-top: 35px;
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }

    .content_comment::after {
        content: "";
        position: absolute;
        display: block;
        width: 100vw;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.3);
        top: 2px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}

@media (max-width: 1280px) {
    .partners-container {
        width: 100%;
    }

    .partner {
        width: 150px;
        height: 90px;
        padding: 10px;
    }

    .partners-title {
        margin-top: 145px;
        font-size: 30px;
        text-align: center;
    }
}

/* התאמות לרוחב מסך מקסימלי של 1024px */
@media (max-width: 1024px) {
    .content_comment {
        margin-top: 135px;
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }

    .content_comment::after {
        content: "";
        position: absolute;
        display: block;
        width: 100vw;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.3);
        top: 2px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .sign-up-form {
        width: 90%;
        max-height: 80vh;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        box-sizing: border-box;
    }

    .input-box, textarea, .button {
        font-size: 14px;
        padding: 6px;
        margin: 4px 0;
    }

    .button {
        padding: 8px;
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .content h1::before {
        top: -23px;
    }

    .content_info p.par {
        font-family: "Rubik", sans-serif;
        font-size: 20px;
        line-height: 1.6;
    }
}

@media (max-width: 1024px) {
    #event-form, #comment-form {
        width: 50%;
        padding: 20px;
        position: relative;
        top: 5px;
    }
}

@media (max-width: 1024px) {
    .card_comment::before {
        display: none;
    }
}

@media (max-width: 1024px) {
    .form {
        width: 60%;
        margin: 0 auto;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .input-box, textarea, .button {
        font-size: 18px;
        padding: 12px;
        margin: 10px 0;
    }

    .button {
        padding: 15px;
        font-size: 16px;
        background-color: #5a2d81;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #4a2160;
    }
}

@media (max-width: 1024px) {
    html[dir="rtl"] .events-title {
        font-size: 36px;
        padding-top: 0;
        margin-top: 75px;
        text-align: center;
    }
    html[dir="ltr"] .events-title {
        font-size: 36px;
        padding-top: 0;
        margin-top: 0px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .partners-title {
        margin-top: 235px;
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .footer-section {
        flex: 1;
        margin: 10px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .footer-bottom {
        padding: 20px;
        background: #f0f0f0;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .modal-container {
        width: 60%;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .modal-container textarea {
        font-size: 20px;
        padding: 12px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
}

/* התאמות לרוחב מסך מקסימלי של 950px */
@media (max-width: 950px) {
    html[dir="rtl"] .events-title {
        font-size: 40px;
        padding-top: 0;
        margin-top: 100px;
        text-align: center;
    }
    html[dir="ltr"] .events-title {
        font-size: 40px;
        padding-top: 0;
        margin-top: -25px;
        text-align: center;
    }
}

/* התאמות לרוחב מסך מקסימלי של 767px */
@media (max-width: 768px) {
    .card_comment {
        width: 90%;
        max-width: 450px;
        margin: 20px auto;
        padding: 10px;
    }

    .text_m_comment {
        font-size: 1em;
    }

    .text_s_comment {
        font-size: 0.7em;
    }

    .text_d_comment {
        font-size: 0.8em;
    }
}

@media (max-width: 767px) {
    html[dir="rtl"] .content_info p.par {
        font-family: "Rubik", sans-serif;
        font-size: 20px;
        line-height: 1.6;
    }
    html[dir="ltr"] .content_info p.par {
        font-family: "Rubik", sans-serif;
        font-size: 17px;
        line-height: 1.6;
    }
}

@media (max-width: 720px) {
    html[dir="rtl"] .events-title {
        font-size: 40px;
        padding-top: 0;
        margin-top: 70px;
        text-align: center;
    }
    html[dir="ltr"] .events-title {
        font-size: 40px;
        padding-top: 0;
        margin-top: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .signup-background {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(background.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media (max-width: 767px) {
    .content .logo_page {
        height: 75px;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .side-menu a {
        font-size: 20px;
    }
    .side-menu .closebtn {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    ul {
        justify-content: space-between;
    }

    ul li {
        margin-left: 10px;
        margin-top: 5px;
    }

    ul li a {
        font-size: 0.9em;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 10px;
    }

    .content .par {
        padding: 0 10px 10px 10px;
        font-size: 16px;
        line-height: 16px;
    }

    .content h1 {
        font-size: 30px;
        padding: 0 10px;
    }

    .content .cn {
        width: 140px;
        height: 35px;
        font-size: 14px;
        margin-left: 10px;
    }

    .content span {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .form {
        width: 350px;
        height: 380px;
    }
}

@media (max-width: 767px) {
    .form {
        width: 300px;
        height: 380px;
    }
}

@media (max-width: 767px) {
    .card__image[data-title]::before {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    .container::-webkit-scrollbar {
        border-radius: 5px;
        width: 8px;
        height: 10px;
    }

    .container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
        width: 8px;
        height: 10px;
    }
}

@media (min-width: 767px) {
    .container::-webkit-scrollbar:horizontal {
        display: none;
    }

    .container::-webkit-scrollbar {
        width: 8px;
        height: 0;
    }

    .container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }
}

@media (max-width: 767px) {
    .sign-up-form {
        width: 90%;
        top: 52.5%;
        transform: translate(-50%, -50%);
    }

    .input-box, textarea, .button {
        font-size: 18px;
        padding: 10px;
        margin: 8px 0;
    }

    .button {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .card_comment::before {
        display: none;
    }
}

@media (max-width: 767px) {
    #event-form, #comment-form {
        width: 90%;
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        overflow-y: auto;
    }

    .card {
        margin-right: 0;
        margin-bottom: 20px;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .partners-container {
        width: 90%;
    }

    .partner {
        width: 150px;
        height: 90px;
    }
}
@media (max-width: 767px) {
    .partners-title {
        font-size: 30px;
    }

    .prev-button, .next-button {
        display: none;
    }
}

@media (max-width: 767px) {
    .footer {
        background: linear-gradient(#4f296f, #cc55ed, #6a0dad);
        font-family: Arial, sans-serif;
        position: relative;
        text-align: center;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 10px;
    }

    .footer-content .par {
        font-family: "Rubik", sans-serif;
        color: white;
        font-size: 20px;
        letter-spacing: 1.2px;
        line-height: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer-section {
        flex: 1 1 100%;
        margin: 10px 0;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .footer-section h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
        color: #333;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-section ul li {
        margin-bottom: 5px;
    }

    .footer-section ul li a {
        color: #024731;
        text-decoration: none;
        transition: color 0.3s, padding-left 0.3s;
        padding-left: 5px;
    }

    .footer-section ul li a:hover {
        color: #017d4f;
        text-decoration: underline;
        padding-left: 10px;
    }

    .footer-bottom {
        text-align: center;
        padding: 10px 0;
        margin-top: 20px;
        background: #f0f0f0;
        font-family: "Rubik", sans-serif;
    }

    .footer-bottom p {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        color: #4a4a4a;
    }

    .footer-bottom a {
        text-decoration: none;
        font-weight: bold;
        color: #6a0dad;
        transition: color 0.3s, text-shadow 0.3s;
        font-family: "Rubik", sans-serif;
    }

    .footer-bottom a:hover {
        color: #9b3d8f;
        text-decoration: underline;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: "Rubik", sans-serif;
    }

    .social-item {
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        margin: 10px 0;
        background-color: #9F149F;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 15px rgba(255, 255, 255, 0.4);
        transition: box-shadow 0.3s ease;
        cursor: pointer;
    }

    .social-item:hover {
        transform: scale(1.1);
        border-color: #FFFFFF;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .social-media img {
        width: 25px;
        height: 25px;
        border-radius: 0;
        object-fit: cover;
        margin-right: 10px;
    }

    .social-item .social-text {
        font-size: 16px;
        font-family: "Rubik", sans-serif;
        color: #FFFFFF;
        line-height: 1.2;
        margin-right: 10px;
    }

}

/* התאמות לרוחב מסך מקסימלי של 576px */
@media (max-width: 576px) {
    html[dir="rtl"] .events-title {
        font-size: 36px;
        padding-top: 0;
        margin-top: 100px;
        text-align: center;
    }
    html[dir="ltr"] .events-title {
        font-size: 36px;
        padding-top: 0;
        margin-top: -10px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .main_logo {
        display: none;
    }
}

@media (max-width: 576px) {
    .content .logo_page {
        height: 50px;
    }
}


@media (max-width: 576px) {
  .modal-container {
    width: 90%;
  }
}

@media (max-width: 576px) {
    textarea {
        font-size: 18px;
    }
}
